*~
.emacs.d/ac-comphist.dat
.emacs.d/cl-lib
.emacs.d/el-get
.emacs.d/elpa/*
!.emacs.d/elpa/README
.emacs.d/geben
.emacs.d/.emacs.desktop
.emacs.d/.emacs.desktop.lock
.emacs.d/.python-environments
.emacs.d/ido.last
